<h1>Posts#index</h1>

<% @posts.each do |post| %>
	<div>
		<p><%= post.title %></p>
		<p>By: <%= post.author %></p>
		<p>Content: <%= post.content %></p>
		<p>
			Tags:
			<% post.tags.each do |tag| %>
				<%= tag.name %>
			<% end %>
		</p>
	</div>
<% end %>